/* TODO Add site wide styles */
@font-face {
    font-family: Ember;
    src: url("./fonts/AmazonEmber_Rg.ttf") format("truetype");
}

* {
    font-family: "Ember";
    text-decoration: none;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    margin: 0;
}
