.checkout-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20%;
}

.back-home {
    border: 1px solid #ddd;
    border-radius: 7px;
    padding: 10px;
    width: 100%;
    text-align: center;
    box-shadow: rgb(213 217 217 / 50%) 0px 2px 5px 0px;
    color: black;
}

.back-home:hover {
    background-color: rgb(247, 250, 250);
    border-color: rgb(213, 217, 217);
}
