.reviewdetail-container {
    margin: 0% 5%;
    width: 300px;
}

.reviewdetail-reviewtext {
    margin-bottom: 0px;
}

.reviewdetail-rating {
    display: flex;
    align-items: center;
}

.reviewdetail-avgrating {
    font-size: 18px;
    margin-left: 10px;
}

.reviewdetail-totalratings {
    font-size: 14px;
    color: #565959;
}

.reviewdetail-bar {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.reviewdetail-barcontainer {
    margin-top: 20px;
}

.reviewdetail-numbercount {
    font-size: 14px;
    color: #007185;
    width: 60px;
    text-align: left;
}

.reviewdetail-numbercount2 {
    font-size: 14px;
    color: #007185;
    width: 65px;
    text-align: right;
}

.reviewdetail-barouterprogress {
    position: relative;
    height: 20px;
    width: 100%;
    background: #F0F2F2;
    border-radius: 4px;
    box-shadow: rgb(227 230 230) 0px 0px 0px 1px inset;
    margin: 0px 5px 0px 15px;
}

.reviewdetail-barinnerprogress {
    display: block;
    height: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgb(255, 164, 28);
    box-shadow: rgb(245 150 29) -2px 0px 0px -1px inset, rgb(222 121 33) 0px 0px 0px 1px inset;
    position: relative;
    overflow: hidden;
}
