.splash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.splash-img {
    width: 1500px;
    max-height: 600px;
    margin-bottom: -350px;
    z-index: -1;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 99%)
}

.splash-products {
    box-sizing: border-box;
    display: flex;
    margin: 0px 10px;
}
