.navbar-container-logged {
    height: 60px;
    width: 100%;
    background-color: #131921;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.nav-logo {
    max-height: 55px;
}

.aboutme-image {
    height: 40px;
}

.navbar-aboutmecontainer {
    margin-top: 20px;
    height: 60px;
}

.navbar-aboutme {
    display: flex;
}

.navbar-linkedin {
    margin-right: 10px;
}

.navbar-deliver-to {
    font-size: 14px;
}

.navbar-hello {
    font-size: 14px;
    margin-bottom: 0px;
    color: white;
}

.navbar-hellologgedout {
    font-size: 14px;
    margin-bottom: 0px;
    color: white;
}

.navbar-account {
    margin-top: 0px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.navbar-orders {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.navbar-cartnbadge {
    display: flex;
    justify-content: center;
    margin-right: 23px;
    max-height: 60px;
}

.navbar-cart-badge {
    position: relative;
    color: #f08804;
    font-weight: bold;
    text-align: center;
}

.navbar-cartntext {
    display: flex;
    margin-top: -15px;
    margin-bottom: 0px;
}

.navbar-cart-logo {
    height: 26px;
}

.navbar-carttext {
    margin: 10px 0px 0px 0px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.category {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 39px;
    background-color: #232f3e;
}

.category-link {
    color: white;
    font-size: 14px;
    border: 1px solid;
    border-radius: 2px;
    box-shadow: none;
    border-color: #232f3e;
    padding: 5px;
}

.category-link:hover {
    text-decoration: none;
    border: 1px solid;
    border-radius: 2px;
    box-shadow: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.navbar-container-notlogged {
    height: 60px;
    width: 100%;
    background-color: #131921;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
}
